html {
  height: 100%;
  width: 100%;
  background-color: lightcyan;
}
h1{
  color: darkblue;
  text-align: center;
}
h2,h3{
  color: darkblue;
  text-align: left;
  font-size: 20px;;
}
p{
  color: darkblue;
  text-align: center;
  font-size: 18px;;
}